@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Regular.woff2') format('woff2'),
        url('EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('EBGaramond-Italic.woff2') format('woff2'),
        url('EBGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

